<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} details:</h2>
  <div><span>Id: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero Name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
    <p>Description : {{ hero.description }}</p>
  </div>

  <button (click)="Save()">Save</button>
</div>
