<div>
  <input id="new-hero" #heroName placeholder="name" />
  <input id="new-hero-id" #heroId placeholder="hero id" />
  <input id="new-hero-desc" #heroDesc placeholder="hero description" />
  <button
    (click)="
      Add(heroName.value, heroId.value, heroDesc.value);
      heroName.value = '';
      heroId.value = '';
      heroDesc.value = ''
    "
  >
    Add new Hero
  </button>
</div>

<div style="display: inline-flex">
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{ hero.id }}">
        <span class="badge">{{ hero.id }} </span>{{ hero.name }}
      </a>
      <button class="delete" (click)="Delete(hero)">x</button>
    </li>
  </ul>
</div>
